/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-body {
  margin-top: 10px;
  width: 97%;
  background: grey;
  margin-right: auto;
  margin-left: auto;
  background: url('./assets/light-theme.png');
  background-repeat: repeat;
  background-position: center 166px !important;
}

.mat-expansion-indicator::after {
  color: rgb(66, 66, 66);
}

.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: rgb(66, 66, 66);
}
