/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-body {
  margin-top: 10px;
  width: 97%;
  background: grey;
  margin-right: auto;
  margin-left: auto;
  background: url(https://static8.depositphotos.com/1298561/974/v/600/depositphotos_9747631-stock-illustration-seamless-food-pattern.jpg);
  background-repeat: repeat;
  background-position: center 166px !important;
}
