.product-names-list{
  font-family: 'Patrick Hand SC', cursive;
  font-size: x-large;
}

#log-out:hover{
  cursor: pointer;
  color: #7FC844;
}

.accordion{
  background-color: rgba(186, 194, 186, 0.6);
}

.material-icons{
  color: #E24666;
}

.material-icons:hover{
  color: #7FC844;
}

button{
  background-color: #00A0B0;
}

button:hover{
  background-color: #653D7C;
}

/*
#A198AF
#653D7C
 */
