<nav>
  <span (click)="logout()">Desconectar</span>
</nav>

<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item" *ngFor="let pantry of pantryArray">
            <h2 class="accordion-header" id="heading_{{pantry.id}}">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{pantry.id}}" aria-expanded="true" aria-controls="collapse_{{pantry.id}}">
                {{ pantry.name }}
              </button>
            </h2>
            <div id="collapse_{{pantry.id}}" class="accordion-collapse collapse show" aria-labelledby="heading_{{pantry.id}}" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="newProduct">
                  <div class="row mb-4">
                    <select>
                      <option *ngFor="let product of productsDB" value="{{ product.barcode }}">{{ product.name }}</option>
                    </select>
                    <div class="col-3">
                      <input class="form-control" id="newStockPantry_{{pantry.id}}" type="number" value="" />
                    </div>
                    <div class="col-3">
                      <button type="button" class="btn btn-danger btn-block" (click)="newProduct(pantry.id)">Add Product</button>
                    </div>
                  </div>
                </div>
                <div class="listOfProducts">
                  <div class="row mb-4" *ngFor="let product of pantry.ListOfProducts">
                    <div class="col-6">
                      <input class="form-control" type="text" value="{{ product.name }}">
                    </div>
                    <div class="col-3">
                      <input class="form-control" type="number" [(ngModel)]="product.stock">
                    </div>
                    <div class="col-3">
                      <button type="button" class="btn btn-primary btn-block" (click)="updateStock(pantry.id, product.id, product.stock)">Update Product</button>
                    </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<footer>

</footer>
