
<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false"
                               *ngFor="let pantry of pantryArray,  first as isFirst"
                               [expanded]="isFirst"
                                class="my-2">
            <mat-expansion-panel-header >
              <mat-panel-title>
                <h2 class="title-of-node">
                {{ pantry.name }}
                </h2>
              </mat-panel-title>
            </mat-expansion-panel-header>
                <div class="newProduct">
                  <div class="row mb-4">
                    <mat-form-field appearance="fill">
                      <mat-label id="mat-label-select-product" >Select product you want to add</mat-label>
                      <mat-select [(ngModel)]="selectedProduct" (ngModelChange)="selectProduct($event, pantry.id)">
                        <mat-option *ngFor="let product of productsDB" [value]="product">
                          {{ product.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
<!--                <div>-->
<!--                  <div class="row mb-4">-->
<!--                    <form class="example-form">-->
<!--                      <mat-form-field class="example-full-width">-->
<!--                        <mat-label>Product</mat-label>-->
<!--                        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">-->
<!--                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">-->
<!--                          <mat-option *ngFor="let product of productsDB | async" [value]="product">-->
<!--                            {{product.name}}-->
<!--                          </mat-option>-->
<!--                        </mat-autocomplete>-->
<!--                      </mat-form-field>-->
<!--                    </form>-->

<!--                  </div>-->
<!--                </div>-->
                <div class="listOfProducts">
                  <div class="row mb-4" *ngFor="let product of pantry.ListOfProducts; let i = index">
                      <div class="col-9">
                        <h4 class="product-names-list">{{product.name}}</h4>
                      </div>
                      <div class="col-1">
                        <input class="form-control" type="number" [(ngModel)]="product.stock">
                      </div>
                      <div class="col-1" align="center">
                        <div class="example-button-container">
                          <button (click)="openDialog(pantry.id, product.id, product.stock)" mat-mini-fab color="primary" >
                            <mat-icon data-bs-toggle="tooltip" data-bs-placement="bottom" title="Update this product stock">cached</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="col-1" align="center">
                        <div class="example-button-container">
                          <button (click)="deleteProduct(pantry.id, product.id, i)" mat-mini-fab color="primary" >
                            <mat-icon data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete this product">delete_outline</mat-icon>
                          </button>
                        </div>
                      </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-1">
                      <button (click)="deletePantry(pantry.id)" mat-mini-fab id="delete-pantry" >
                        <mat-icon data-bs-toggle="tooltip" data-bs-placement="right" title="Delete this pantry" >delete_outline</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
<app-floating-button></app-floating-button>
</main>


<footer>

</footer>
