.product-names-list{
  font-family: 'Patrick Hand SC', cursive;
  font-size: x-large;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel{
  background-color: rgba(186, 194, 186, 0.8);
  color: white;
}

/*
#A198AF
#653D7C
 */
