.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel{
  background-color: rgb(238, 238, 238);
  color: rgb(66, 66, 66);
}

.mat-panel-title{
  color: rgb(66, 66, 66);
}

.title-of-node{
  color: rgb(66, 66, 66);
  text-transform: uppercase;
  margin-top: 10px;
}

#delete-pantry{
  background-color: rgb(255, 67, 0);
}

/*
class="mat-form-field-flex ng-tns-c83-3"
 */


/*
#A198AF
#653D7C
 */
